ul {
    list-style: none;
    padding-left: 0;
}

.centered_content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs_title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs_title.active {
    background-color:#937341 ;
    color: #23201D;
}

.tabs_description {
    display: none;
}

.tabs_description.active {
    display: block;
    transition: .5s;
}